@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

#result-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

#result-container > div {
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 500;
}

#result-container h1 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

#result-container p {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    margin: 0;
    display: flex;
}

#result-container .link {
    text-decoration: underline;
    color: #00C2FF;
    cursor: pointer;
}

#result-container strong {
    font-weight: normal;
}

.cart {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.cart-container {
    margin-top: 5%;
    width: 80%;
    height: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    place-items: center;
}

.cart-container .left,
.cart-container .right {
    background-color: #CCC;
    border-radius: 25px;
    width: 100%;
    height: 72vh;
    border: 1px solid #000;
}

.cart-container .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15%;
}

.cart-container .left {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 1rem 3rem;
    box-sizing: border-box;
}

/* Left Part */
.cart .left h1 {
    font-size: 1.8rem;
    margin: 0;
}

.cart .left p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.cart .left img {
    aspect-ratio: 16/9;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.cart .left .cart-items {
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.cart .left .cart-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    gap: 1rem;
    border-bottom: 1px solid #000;
}

.cart .left .cart-item:first-of-type {
    padding-top: 0;
}

.cart .left .cart-item:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.cart .left .cart-item .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart .left .left-infos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cart .left .list-infos {
    margin-bottom: 4rem;
}

.cart .left .right-infos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.cart .left .price {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.cart .left .remove-button {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}

.cart .left .remove-button img {
    width: 25px;
    height: 25px;
    border-radius: 0;
}

.cart .left .remove-button:hover {
    background-color: rgb(237, 56, 56);
    overflow: visible;
}

.cart .left .remove-button:active {
    transform: scale(0.9);
}

.cart .left .total p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem 0 0 0;
    padding: 1rem;
    border-top: 1px solid #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Card Styles */

.card {
    transform: translate(0, 50%) scale(1.3);
    width: 240px;
}

.flip-card {
    background-color: transparent;
    width: 240px;
    height: 154px;
    perspective: 1000px;
    color: white;
}
  
.heading_8264 {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.5em;
    top: 2em;
    left: 18.6em;
}
  
.logo {
    position: absolute;
    top: 6.8em;
    left: 11.7em;
}
  
.chip {
    position: absolute;
    top: 2.3em;
    left: 1.5em;
}
  
.contactless {
    position: absolute;
    top: 3.5em;
    left: 12.4em;
}
  
.number {
    position: absolute;
    font-weight: bold;
    font-size: .6em;
    top: 8.3em;
    left: 1.6em;
}
  
.valid_thru {
    position: absolute;
    font-weight: bold;
    top: 635.8em;
    font-size: .01em;
    left: 140.3em;
}

.date_8264 {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 13.6em;
    left: 3.2em;
}
  
.name {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 16.1em;
    left: 2em;
}
  
.strip {
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
      45deg,
      #303030,
      #303030 10px,
      #202020 10px,
      #202020 20px
    );
}
  
.mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 0.8em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
}
  
.sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 0.8em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
}
  
.code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}
  
.flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
}
  
.flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
    transform: rotateY(180deg);
}

/* Form Style */
.cart form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.cart form > div {
    width: 100%;
}

.cart form input {
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    border: 1px solid #aaaaaa;
}

.cart form #double-input {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart form #double-input div {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cart form label {
    align-self: flex-start;
}

.cart .right form button {
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}

.cart .svgIcon {
    width: 18px;
}

.cart .svgIcon path {
    fill: white;
}
  
.cart #pay-button::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}
  
.cart #pay-button:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
}