@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header { 
    display: flex;
    justify-content: center;
    position: fixed;
    top: 5vh;
    width: 100%;
    z-index: 999;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    color: #fff;
    width: 80%;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.50);
}

#plainarrow {
    margin-left: 1px;
    width: 10px;
    height: 10px;
}

.headerp {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0 0 0 10px;
    cursor: pointer;
}

.left,
.right {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.right {
    gap: 15px;
}

.left > a,
.right > a {
    display: grid;
    place-items: center;
}

.imgheader {
    height: 1.5rem;
    transition: 0.3s;
}

.imgheader:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.checkbox {
    display: none;    
}

header form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

#searchIcon {
    margin: 0 0 0 10px;
}

.search_input {
    display: none;
    width: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
    transition: width 0.5s ease;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.dropdown-container {
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plainarrow {
    margin-left: 5px;
    margin-top: 0;
}

#plainarrow:hover {
    transition: 0.3s;
    transform: none;
    rotate: 90deg;
}

.dropdown-container:hover > #plainarrow {
    transform: rotate(90deg);
}
  
.dropdown-menu {
position: absolute;
left: 0;
display: block;
visibility: hidden;
opacity: 0;
top: calc(100% + 8px);
background-color: #212121;
padding: 1rem;
gap: 0.5rem;
border-radius: 0.75rem;
z-index: 9999;
transition: 0.3s;
}

.dropdown-container:hover > .dropdown-menu {
opacity: 1;
visibility: visible;
}

.dropdown-menu.grid {
display: grid;
grid-template-columns: repeat(2, 100px);
}

.dropdown-menu > a {
font-weight: 600;
font-family: "Montserrat", sans-serif;
padding: 1rem;
background-color: #292929;
padding: 1rem;
border-radius: 0.5rem;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
text-decoration: none;
}

.dropdown-menu > a:hover {
background-color: #353535;
}

.dropdown-menu > a > span:nth-of-type(2) {
color: #9ca3af;
}