@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    z-index: -99999999;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.down_arrow {
    transform: translate(-50%, 50%);
    position: absolute;
    left: 50vw;
    top: 95vh;
    width: 2vw;
    rotate: 90deg;
}

/* Main View */

#mainview {
    position: relative;
    width: 100vw;
    height: 125vh;
}

#mainview h1 {
    font-size: 12rem;
    font-weight: 900;
    color: #000;
    text-shadow: 0px 5px 40px rgba(0, 0, 0, 0.30);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50vw;
    top: 48vh;
}

/* 3D Images Placement Main View */

#mainview .camera {
    transform: translate(-50%, -50%) rotate(21.05deg);
    width: 38rem;
    position: absolute;
    left: 2vw;
    top: 38vh;
    filter: blur(1px);
}

#mainview .glasses {
    transform: translate(50%, -50%) rotate(-14.428deg);
    ;
    width: 32rem;
    position: absolute;
    right: 14.5vw;
    top: 58vh;
}

#mainview .chair {
    transform: translate(50%, -50%) rotate(18deg) scaleX(-1);
    width: 28rem;
    position: absolute;
    right: 7vw;
    top: 90vh;

    filter: blur(4.5px);
}

#mainview .clap {
    z-index: -1;
    transform: translate(-50%, -50%) rotate(-5.391deg);
    width: 24rem;
    position: absolute;
    left: 52vw;
    top: 73vh;
    filter: blur(3px);
}

#mainview .popcorn_cup {
    transform: translate(-50%, -50%) rotate(11.87deg);
    width: 40rem;
    position: absolute;
    left: 17vw;
    top: 94vh;
    filter: blur(5px);
}

#mainview .pop_1 {
    transform: translate(50%, -50%) rotate(-106.395deg);
    width: 60rem;
    position: absolute;
    right: 10vw;
    top: 0vh;
    filter: blur(1.5px);
}

#mainview .pop_2 {
    transform: translate(50%, -50%) rotate(-47.228deg);
    width: 50rem;
    position: absolute;
    left: -7vw;
    top: 17vh;
    filter: blur(3px);
}

#mainview .pop_3 {
    z-index: -1;
    transform: translate(50%, -50%);
    width: 65rem;
    position: absolute;
    left: -12vw;
    top: 44vh;
    filter: blur(2.5px);
}

#mainview .pop_4 {
    transform: translate(50%, -50%) rotate(-62.124deg);
    width: 40rem;
    position: absolute;
    right: 25vw;
    top: 87vh;
    filter: blur(4.5px);
}

/* Presentation View*/

#presentation {
    z-index: -3;
    position: relative;
    width: 100vw;
    height: 111vh;
    background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(169, 169, 169, 1) 100%);
}

#presentation h2 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #000;
    transform: translate(50%, -50%);
    position: absolute;
    right: 39vw;
    top: 45vh;
    width: 32rem;
    text-transform: uppercase;
    line-height: 4.5rem;

}

#presentation p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    transform: translate(50%, -50%);
    position: absolute;
    right: 31vw;
    top: 67vh;
    width: 50rem;
    line-height: 1.9rem;
}

#presentation strong {
    font-weight: 600;
}

#presentation strong:last-of-type {
    font-weight: 700;
}

/* 3D Images Placement Presentation View*/

#presentation .ticket {
    transform: translate(-50%, -50%);
    width: 17rem;
    position: absolute;
    left: 4.5vw;
    top: 19vh;
    filter: blur(3.5px);
}

#presentation .camera {
    transform: translate(-50%, -50%) rotate(21.05deg);
    width: 35rem;
    position: absolute;
    left: 30vw;
    top: 28vh;
    filter: blur(2px);
}

#presentation .glasses {
    transform: translate(50%, -50%) rotate(-14.428deg);
    width: 25rem;
    position: absolute;
    right: 35vw;
    top: 20vh;
}

#presentation .clap {
    transform: translate(50%, -50%) rotate(-23.909deg);
    width: 20rem;
    position: absolute;
    right: 2.5vw;
    top: 27vh;
    filter: blur(3px);
}

#presentation .chair {
    transform: translate(-50%, -50%) rotate(-6.896deg);
    width: 40rem;
    position: absolute;
    left: 6vw;
    top: 78vh;
    filter: blur(1px);
}

#presentation .launch {
    transform: translate(-50%, -50%) rotate(65.416deg);
    width: 14rem;
    position: absolute;
    left: 37vw;
    top: 73vh;
    filter: blur(4px);
}

#presentation .popcorn_cup {
    z-index: -2;
    transform: translate(50%, -50%) rotate(-16.752deg);
    width: 25rem;
    position: absolute;
    right: 3vw;
    top: 85vh;
    filter: blur(5px);
}

#presentation .pop_1 {
    transform: translate(50%, -50%) rotate(135.853deg);
    width: 25rem;
    position: absolute;
    right: 17vw;
    top: 90vh;
    filter: blur(2.5px);
}

#presentation .pop_2 {
    z-index: -1;
    transform: translate(50%, -50%) rotate(-62.124deg);
    width: 40rem;
    position: absolute;
    right: 23vw;
    top: 74vh;
    filter: blur(4px);
}

#presentation .pop_3 {
    z-index: -1;
    transform: translate(50%, -50%) rotate(135.853deg);
    width: 30rem;
    position: absolute;
    right: 17vw;
    top: 56vh;
    filter: blur(2.5px);
}

#presentation .pop_4 {
    z-index: -1;
    transform: translate(50%, -50%) rotate(135.853deg);
    width: 25rem;
    position: absolute;
    right: 27vw;
    top: 48vh;
    filter: blur(2.5px);
}

#presentation .pop_5 {
    transform: translate(50%, -50%) rotate(135.853deg);
    width: 25rem;
    position: absolute;
    right: 21vw;
    top: 46.5vh;
    filter: blur(2px);
}

#presentation .pop_6 {
    transform: translate(50%, -50%) rotate(135.853deg);
    width: 40rem;
    position: absolute;
    right: 24vw;
    top: 37vh;
    filter: blur(1.5px);
}

#presentation .pop_7 {
    transform: translate(50%, -50%) rotate(135.853deg);
    width: 25rem;
    position: absolute;
    right: 14vw;
    top: 37vh;
    filter: blur(2.5px);
}

#presentation .pop_8 {
    z-index: -1;
    transform: translate(50%, -50%) rotate(46.847deg);
    width: 40rem;
    position: absolute;
    right: 4vw;
    top: 51.5vh;
    filter: blur(2.5px);
}

/* Fade View */

#fade {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(169, 169, 169, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

/* Cinema Room */

#cinema_room {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: -2;
}

#cinema_room #seat-rows {
    position: absolute;
    transform: translateX(-50%);
    width: 100vw;
    left: 50vw;
    bottom: 0;
}

/* Carousel */

#cinema_room #screen {
    position: absolute;
    transform: translate(-50%, -100%);
    left: 50vw;
    top: 62vh;
    width: 48vw;
    height: 27vw;
    overflow: hidden;
}

#layer-effect {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
    mix-blend-mode: multiply;
    height: 100%;
    width: 125%;
    object-fit: cover;
}

.carousel-content {
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform .5s ease;
}

.carousel-item {
    width: 25%;
    height: 100%;
    object-fit: fill;
}

.selection-circle {
    z-index: 10;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #696969;
    margin: 0 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.selected {
    background-color: white;
}

.selection-container {
    z-index: 10;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

/* Buy Now Button */

.buy-button-container {
    position: absolute;
    width: 100vw;
    bottom: 15px;
    left: 90%;
    transform: translateX(-50%);
    z-index: 9;
}


.buy-button {
    display: flex;
    padding: 12px 30px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.buy-button:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
}