@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: auto;
}


h2 {
    font-size: 10px;
    font-weight:normal;
    margin-top: 0px;
    margin-bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
}

img {
    position: absolute;
    width: 10px;
    margin-left: 300px;
    margin-bottom: 40px;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.2);
}


label {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight:500;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 10px;
}

input[type="submit"] {
    display: flex;
    padding: 12px 30px;
    background-color: #222222;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
}

#register_text {
    color: #00C2FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

p {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}