@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#result-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#result-container > div {
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 500;
}

#result-container h1 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

#result-container p {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100vw;
    height: 100vh;
}

#container h2 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#container h3 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

/* Left Part */

#container #left {
    background-color: #ccc;
    border-radius: 25px;
    width: 50%;
}

#container .box1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: solid 1px #000;
}

#container .left-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

#container img {
    width: 180px;
    height: 100px;
    border-radius: 8px;
}

#container .left-box p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

#container .right-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 25px;
    padding: 20px;
    margin-left: 43%;
}

#container #total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
}

/* Right Part */

#container #right {
    background-color: #ccc;
    border-radius: 25px;
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#container #card {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container label {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight:500;
    margin-bottom: 5px;
}

#container input[type="text"] {
    width: 70%;
    height: 25px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 25px;
}

#container #exp-cvc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
}



/* Delete button */

#container .deleteButton {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}

#container #container #trash  {
    width: 26px;
    height: 26px;
}

#container .deleteButton:hover {
    background-color: rgb(237, 56, 56);
    overflow: visible;
}

#container .deleteButton:active {
    transform: scale(0.98);
}

#container .tooltip {
    --tooltip-color: rgb(41, 41, 41);
    position: absolute;
    top: -40px;
    background-color: var(--tooltip-color);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px 12px;
    font-weight: 600;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
}

#container .tooltip::before {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    content: "";
    background-color: var(--tooltip-color);
    bottom: -10%;
}

#container .deleteButton:hover .tooltip {
    opacity: 1;
}
  

/* Card Styles */

#container .flip-card {
    background-color: transparent;
    width: 240px;
    height: 154px;
    perspective: 1000px;
    color: white;
}
  
#container .heading_8264 {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.5em;
    top: 2em;
    left: 18.6em;
}
  
#container .logo {
    position: absolute;
    top: 6.8em;
    left: 11.7em;
}
  
#container .chip {
    position: absolute;
    top: 2.3em;
    left: 1.5em;
}
  
#container .contactless {
    position: absolute;
    top: 3.5em;
    left: 12.4em;
}
  
#container .number {
    position: absolute;
    font-weight: bold;
    font-size: .6em;
    top: 8.3em;
    left: 1.6em;
}
  
#container .valid_thru {
    position: absolute;
    font-weight: bold;
    top: 635.8em;
    font-size: .01em;
    left: 140.3em;
}
  
#container .date_8264 {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 13.6em;
    left: 3.2em;
}
  
#container .name {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 16.1em;
    left: 2em;
}
  
#container .strip {
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
      45deg,
      #303030,
      #303030 10px,
      #202020 10px,
      #202020 20px
    );
}
  
#container .mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 0.8em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
}
  
#container .sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 0.8em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
}
  
#container .code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
}
  
#container .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
#container .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
#container .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}
  
#container .flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
}
  
#container .flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
    transform: rotateY(180deg);
}

/* Buy Button */

#container #pay-button {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}
  
#container .svgIcon {
    width: 16px;
}
  
#container .svgIcon path {
    fill: white;
}
  
#container #pay-button::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}
  
#container #pay-button:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
#container #pay-button:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
}